:root {
  --primary-color: #6c63ff;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  margin: 0% 13% 4% 13%;
}

h1,
h2,
h3 {
  text-align: center;
  margin: 0;
}

h1 {
  font-size: 4.5em;
}

h2 {
  font-size: 3em;
}

h3 {
  font-size: 1.8em;
  opacity: 0.7;
}

p {
  padding: 1rem;
  border-radius: 4px;
  font-size: 1.1rem;
  line-height: 1.5;
  text-align: left;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 1rem;
  border-radius: 4px;
  padding: 1rem 1.2rem;
  text-decoration: none;
  text-transform: capitalize;
}

.contact-link {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.about-link {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.homepage-link {
  margin-top: 30px;
  color: var(--primary-color);
  text-align: center;
  display: block;
}

.about-paragraphs {
  display: flex;
  margin: 30px 0;
}

.about-paragraphs p {
  margin: 10px;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 2em;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}
.flamenco-size {
  width: 15.93rem;
  margin-left: 19%;
}
.flamenco-size-index {
  width: 34em;
  background: #f8f9fa;
  margin-right: -3%;
  margin-left: 2%;
  margin-top: 4em;
}

.flamenco-button {
  text-align: center;
}
.worldclock-size {
  width: 19.5rem;
  margin-left: 19%;
}
.weather-size {
  width: 24.5rem;
  margin-left: 14%;
}
.contact-post {
  margin-top: 60px;
}
.index-paragraph {
  margin-left: 6%;
  font-size: 1.125em;
  text-align: center;
  margin-top: 133px;
}

.index-buttons {
  background-color: var(--primary-color);
  color: white;
  box-shadow: var(--box-shadow);
}
.weather-size-index {
  width: 46em;
  background: #f8f9fa;
  margin-right: 3%;
  margin-left: 5%;
}
.world-size-index {
  width: 39em;
  background: #f8f9fa;
  margin-right: 5%;
}
.about-text {
  font-size: 1em;
}

@media (max-width: 1500px) {
  p {
    font-size: 0.9em;
    text-align: left;
  }
  h1 {
    font-size: 3em;
  }
  h3 {
    font-size: 1.5em;
  }
  h2 {
    font-size: 2em;
  }
  .navigation-links a {
    padding: 0.3rem 0.5rem;
  }
  .flamenco-size-index {
    display: block;
    margin: 0 auto;
  }
  .index-paragraph {
    margin-top: 18px;
  }
  .index-buttons {
    text-align: center;
  }
  .flamenco-size {
    display: block;
    margin: 0 auto;
  }
  .worldclock-size {
    display: block;
    margin: 0 auto;
  }
  .weather-size {
    display: block;
    margin: 0 auto;
  }
  .contact-post {
    margin-top: 41px;
    font-size: 2em;
  }
  .email-link {
    font-size: 1.5em;
  }
  .weather-size-index {
    display: block;
    margin: 0 auto;
    max-width: 100%;
  }
  .flamenco-button {
    margin-left: -11%;
  }
  .world-size-index {
    margin-right: 0%;
    display: block;
    margin: 0 auto;
  }
}

@media (max-width: 1150px) {
  p {
    font-size: 0.8em;
    text-align: left;
  }
  h1 {
    font-size: 3.5em;
  }
  h3 {
    font-size: 1.5em;
  }
  h2 {
    font-size: 2.2em;
  }
  .navigation-links a {
    padding: 0.3rem 0.5rem;
  }
  .flamenco-size-index {
    margin-top: 1em;
    margin-left: 12%;
  }
  .index-paragraph {
    margin-top: 18px;
  }
  .index-buttons {
    text-align: center;
  }
  .flamenco-size {
    display: block;
    margin: 0 auto;
  }
  .worldclock-size {
    display: block;
    margin: 0 auto;
  }
  .weather-size {
    display: block;
    margin: 0 auto;
  }
  .contact-post {
    margin-top: 41px;
    font-size: 2em;
  }
  .email-link {
    font-size: 1.5em;
  }
  .flamenco-button {
    margin-left: -11%;
  }
}

@media (max-width: 900px) {
  p {
    font-size: 0.8rem;
    text-align: justify;
  }
  h1 {
    font-size: 3em;
  }
  h3 {
    font-size: 1em;
  }
  h2 {
    font-size: 2.2em;
  }
  .navigation-links a {
    padding: 0.3rem 0.5rem;
  }
  .flamenco-size-index {
    margin-top: 1em;
    display: block;
    margin: 0 auto;
  }
  .index-paragraph {
    margin-top: 18px;
  }
  .index-buttons {
    text-align: center;
  }
  .flamenco-size {
    display: block;
    margin: 0 auto;
  }
  .worldclock-size {
    display: block;
    margin: 0 auto;
  }
  .weather-size {
    display: block;
    margin: 0 auto;
  }
  .contact-post {
    margin-top: 41px;
    font-size: 2em;
  }
  .email-link {
    font-size: 1.5em;
  }
  .weather-size-index {
    display: block;
    margin: 0 auto;
  }
  .flamenco-button {
    margin-left: -11%;
  }
}
